@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #06402B 0%, rgb(0,0,33) 100%);
  box-shadow: 0 16px 14px 0 #051935;
  padding: 18px 24px;
  max-width: 345px;
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;

  background-color: var(--color-dark); /* Yellowackground */
  padding: 10px 20px; 
  border-radius: 8px; /* Rounded corners for a softer look */
  
}

.description {
  margin-top: 6px;
  font-size: 22px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 22px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 26px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-secondary);
  padding: 1px 22px;
}

.link:hover {
  background: var(--color-accent);

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.historyItemTitle {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-text);
}


  /* Mobile */
@media (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 14px 18px;
  }

  .title {
    font-size: 20px;
    padding: 8px 16px;
  }

  .description {
    font-size: 18px;
  }

  .skill {
    font-size: 18px;
    padding: 2px 16px;
  }

  .link {
    font-size: 20px;
    padding: 1px 16px;
  }
}